* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: gainsboro;
  position: relative;
  height: 300px;
}

div {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
}

.first_item {
  background-color: red;
  top: 25px;
  transition: all 5s linear;
}

.second_item {
  background-color: green;
  top: 150px;
  transition: all 4s 1s linear;
}

.container:hover .first_item,
.container:hover .second_item {
  left: 90%;
}
